<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../../images/lockup (1).svg" alt="" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/userprofile">profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/addprofile">addposts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item btn-primary text-white">
        <a href="/user/login" class="nav-link">login</a>
        </li>
         <li class="nav-link">
        <a href="/user/register" class="nav-link btn-dark text-white">register</a>
        </li>
    </ul>
  </div>
</nav>